.item__1,
.item__2 {
  background-color: #81b3d1;
  padding: 40px 10px; }

.item__1--image,
.item__2--image {
  text-align: center; }

.item__1 p,
.item__2 p {
  color: #ffffff; }

.item__345 {
  background-color: #eeeeee; }

.item__3,
.item__4,
.item__5 {
  margin: 0 20px;
  padding: 30px 0; }

@media (max-width: 767px) {
  p {
    line-height: 20px; }
  .item__1-triangle {
    position: absolute;
    top: 0; }
  .else__title,
  .else__about {
    text-align: left; }
  .else__title,
  .else__about {
    display: inline-block; }
  .else__feature {
    position: relative;
    margin-left: 25px;
    margin-top: 15px;
    margin-right: 25px; }
  .else__image {
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px; }
  .else__title {
    margin: 15px 0 20px 50px; }
  .else__about {
    margin: 0 0 0 50px; }
  .else__features {
    margin-bottom: 40px; }
  .item__3,
  .item__4 {
    border-bottom: 1px solid #d6d6d6; }
  .item__3,
  .item__4,
  .item__5 {
    margin: 0 20px;
    padding: 10px 0; }
  .item__1,
  .item__2 {
    background-color: #81b3d1;
    padding: 10px 10px; }
  .else__title {
    margin: 15px 0 10px 50px; } }

@media (min-width: 768px) {
  .title {
    font-size: 21px;
    line-height: 26px; }
  .feature__item {
    display: flex;
    justify-content: center;
    max-height: 256px; }
  .feature__item1 {
    margin-bottom: 60px; }
  .feature__item2 {
    flex-direction: row-reverse; }
  .item__1,
  .item__2 {
    width: 33%; }
  .else__image {
    display: block;
    margin: 0 auto;
    height: 70px; }
  .else__features,
  .item__345 {
    display: flex;
    justify-content: space-around; }
  .else__features {
    margin-bottom: 60px; }
  .else__feature,
  .item__3,
  .item__4,
  .item__5 {
    width: 170px; } }

@media (min-width: 1200px) {
  .feature__item {
    max-height: 256px; }
  .item__1--image,
  .item__2--image {
    overflow: hidden; }
  .else__feature,
  .item__3,
  .item__4,
  .item__5 {
    width: 285px; } }
