.item__1,
.item__2 {
  background-color: #81b3d1;
  padding: 40px 10px; }

.item__1--image,
.item__2--image {
  text-align: center; }

.item__1 p,
.item__2 p {
  color: #ffffff; }

.item__345 {
  background-color: #eeeeee; }

.item__3,
.item__4,
.item__5 {
  margin: 0 20px;
  padding: 30px 0; }

.item__3,
.item__4 {
  border-bottom: 1px solid #d6d6d6; }

.else__title,
.else__about {
  text-align: left; }

@media (max-width: 767px) {
  .item__1-triangle {
    position: absolute;
    top: 0; }
  .else__title,
  .else__about {
    display: inline-block; }
  .else__feature {
    margin-left: 25px;
    margin-top: 25px; }
  .else__feature img {
    display: inline-block;
    width: 40px;
    height: 40px; }
  .else__title {
    margin-left: 10px; }
  .else__about {
    margin-left: 50px; } }

@media (min-width: 768px) {
  .title {
    font-size: 21px;
    line-height: 26px; }
  .feature__item {
    display: flex; }
  .feature__item2 {
    flex-direction: row-reverse; }
  .item__1,
  .item__2 {
    width: 33%; } }
