.main__background {
  display: flex;
  justify-content: center; }

.main__background-text {
  position: absolute; }

.main__welcome {
  margin: 115px auto;
  zoom: 1; }

.main__triangle {
  position: absolute; }

@media (max-width: 767px) {
  .main {
    position: relative; }
  .main__slogan {
    margin: 30px 10px; }
  .main__features {
    text-align: center; }
  .main__welcome {
    margin: 100px auto;
    overflow: hidden;
    zoom: 0.5; }
  .main__triangle {
    top: 427px;
    position: absolute; } }

@media (min-width: 768px) {
  .main__triangle {
    top: 530px; }
  .main__about {
    margin: 50px 0; }
  .main__slogan,
  .main__features {
    width: 500px;
    text-align: center;
    margin: 35px auto; }
  .main__slogan {
    font-size: 21px;
    line-height: 26px; } }
