.main__background {
    display: flex;
    justify-content: center;
}

@media (max-width:767px) {
    .h1 {
    font-family: "P TSans";
    }
}

@media (min-width: 768px) {
    
}

@media (min-width: 1280px) {

}
